<header class="m-0 p-6 shadow-md">
  <nav class="align-items-center flex items-center justify-between">
    <h2 class="text-2xl font-bold lg:px-8"><a href="/">ICECREAM</a></h2>
    <!-- <div class="px-8">asddasdas</div> -->
  </nav>
</header>
